.product-tile {
  background-color: #fff;
  border: 1px solid rgba(64, 72, 90, 0.1);
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  margin: .3em;
  padding: 1em;
  position: relative;
  width: 15em;
}

.product-ticker {
  background-color: hsla(0, 0%, 100%, 0.5);
  border: 1px solid rgba(64, 72, 90, 0.1);
  color: #ff4e4e;
  font-size: .7em;
  left: 0;
  margin: auto;
  max-width: 13em;
  padding: .2em 1.5em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 1em;
}

.product-image {
  width: 100%;
}

.product-name {
  color: #404859;
  font-size: .9em;
  height: 2em;
  margin-top: .7em;
  text-align: center;
  white-space: normal;
}

.product-price-container {
  height: 30px;
  line-height: 30px;
}

.product-old-price {
  float: right;
  color: rgba(64, 72, 90, 0.5);
  font-size: .85em;
  margin-bottom: -.4em;
  min-height: 1.345em;
  text-decoration: line-through;
}

.product-new-price {
  float: left;
  color: #fd443e;
  font-size: 1.3em;
  font-weight: 700;
}

.product-button {
  background-color: #ff4e4e;
  border-radius: 3px;
  color: #fff;
  font-size: 1em;
  margin-top: .3em;
  padding: .3em 0;
  text-align: center;
}

.product-group .product-tile {
  display: block;
  width: 100%;
}

.ui-widget-product .product-group {
  margin-left: 0;
  margin-right: 0;
}

.ui-widget-superproduct.preview {
  margin: 1em auto;
}